---
import HeaderHP from "../components/headerhp.astro";
import HeroHP from "../components/herohp.jsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hibiscus AI</title>
  </head>

  <body style="margin:0; padding:0; background:#000; color:#fff;">

    <HeaderHP />
    <HeroHP />

    <!-- Future sections will also appear on this black base -->
  </body>
</html>
